body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #e2e4e6;
  overflow: hidden;
  font-family: 'EB Garamond', serif;
}

#svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  transform: translate(0, -100px);
}

#map-sketch path {
  stroke: #acaeb0; 
  stroke-width: 1.5px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: center;
  opacity: 0; 
  transition: stroke-width 0.3s ease; 
}

#map-sketch path:hover {
  stroke-width: 2.5px;
}

#svg-container {
  transform: translate(0, -50px); 
}

#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s forwards;
  justify-content: space-between;
  align-content: space-between;
  }

.piece {
  width: 48%;
  height: 48%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
}

.piece:nth-child(2n) {
  justify-content: flex-start;
}

.photo-block {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.photo-block img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.front-image {
  opacity: 1;
  z-index: 2;
}

.back-image {
  opacity: 0;
  z-index: 1;
}


.photo-block:hover .front-image {
  opacity: 0;
}

.photo-block:hover .back-image {
  opacity: 1;
}

.about-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
}

.about-link {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  transition: color 0.3s ease, text-decoration 0.3s ease, font-style 0.3s ease, opacity 0.3s ease;
}

.about-link:hover {
  color: #888;
  text-decoration: underline;
  font-style: italic;
  opacity: 0.7;
}

.about-description {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  bottom: 30px;
  left: -10px;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.about-link:hover + .about-description {
  opacity: 1;
  visibility: visible;
}

.site-title {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  color: #333;
  z-index: 3;
  text-decoration: none;
  font-style: normal;
  opacity: 1;
  transition: text-decoration 0.3s ease, font-style 0.3s ease, opacity 0.3s ease;
}

.site-title:hover {
  text-decoration: underline;
  font-style: italic;
  opacity: 0.7;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}