canvas {
    display: block; 
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
}

#intro-screen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  text-align: center;
  transition: opacity 1s ease;
}

#intro-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.intro-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.intro-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.intro-content button {
  padding: 10px 24px;
  font-size: 1rem;
  background-color: #273824;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'EB Garamond', serif;
}

.intro-content button:hover {
  background-color: #13210f;
  opacity:50%;
  font-family: 'EB Garamond', serif;
  border-radius: 20%;
}

