canvas {
  display: block;
}

canvas {
position: fixed;
top: 0;
left: 0;
z-index: -1;
width: 100vw;
height: 100vh;
pointer-events: none;
opacity: 1;
}

body, h1, p, button {
  font-family: 'EB Garamond', serif !important;
}

#intro-screen {
position: fixed;
z-index: 10;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(20, 20, 20, 0.2);
color: white;
display: flex;
flex-direction: column; 
font-family: 'EB Garamond', serif;
text-align: center; 
transition: opacity 1s ease;
}

#intro-screen.fade-out {
opacity: 0;
pointer-events: none;
}

.intro-content {
width: 100%;
display: flex;
align-items: flex-start;  
font-family: 'EB Garamond', serif;
margin-top: 1%;;
margin-left: 1%;
}

.intro-content h1 {
font-size: 4rem;
font-style: bold;
margin: 0; 
text-align: left; 
font-family: 'EB Garamond', serif;
}

.intro-content p {
font-size: 1.2rem;
font-family: 'EB Garamond', serif;
margin-left:35%;
margin-top: 35%;
}

.intro-content button {
padding: 10px 24px;
font-size: 1rem;
background-color: #273824;
color: white;
border: none;
border-radius: 15%;
cursor: pointer;
transition: background-color 0.3s;
font-family: 'EB Garamond', serif;
margin-top: 48%;
align-self: flex-start;
margin-left: -40%; 
}

.intro-content button:hover {
background-color: #13210f;
opacity:50%;
font-family: 'EB Garamond', serif;
border-radius: 20%;
}


